.btn-all {
  background-color: rgb(39, 167, 118);
}
.btn-steel {
  background-color: #60a1b8;
}
.btn-water {
  background-color: #2980ef;
}
.btn-bug {
  background-color: #91a119;
}
.btn-dragon {
  background-color: #5061e1;
}
.btn-electric {
  background-color: #fac001;
}
.btn-ghost {
  background-color: #704170;
}
.btn-fire {
  background-color: #e62829;
}
.btn-fairy {
  background-color: #f170f1;
}
.btn-ice {
  background-color: #3fd8ff;
}
.btn-fighting {
  background-color: #ff8000;
}
.btn-normal {
  background-color: #9fa19f;
}
.btn-grass {
  background-color: #3fa129;
}
.btn-psychic {
  background-color: #f04179;
}
.btn-rock {
  background-color: #afa981;
}
.btn-dark1 {
  background-color: #50413f;
}
.btn-ground {
  background-color: #915121;
}
.btn-poison {
  background-color: #9141cb;
}
.btn-flying {
  background-color: #81b9ef;
}
