.title{
    color: white;   
}
.ok{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ok2{
    background-color: rgba(0, 0, 0, 1);
}
.bgrom{
    background-image: url(../assets/bgrom2.jpg);   
}