@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Press+Start+2P&display=swap');
* {
    font-family: 'Exo 2', sans-serif;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url(../assets/peliculas-background.png);
    backdrop-filter: brightness(80%);
}

.texto {
    background-color: rgba(240, 248, 255, 0.575);
    border-radius: 3rem;
}

.card-img {
    object-fit: cover;
    height: 55vh;
}

.scroll-text {
    overflow-y: scroll;
    height: 40vh;
}